/*
* @Author: wuxu92
* @Date:   2016-01-14 22:04:42
* @Last Modified by:   wuxu92
* @Last Modified time: 2016-02-01 16:56:11
*/
header {

}
h3#page-title {
  text-align: center;
}
article {
  min-width: 110px;
  width: 98%;
  /* margin: 0 auto; */
}
.groups-section {
  border: 1px solid #eee;
  /*border-bottom: none;*/
  margin: 10px 0;
  padding: 16px 2px;
}

/*grp-head*/
.grp-head {
  color: #08556B;
}
.tools {
  float: right;
  padding: 3px 3px 0px;
  margin-top: -13px;
  margin-right: -28px;
  border: 1px solid #A0A0A0;
  border-radius: 16px 16px;
}
.tools>a {
  padding: 1px 2px;
  cursor: pointer;
}


.tools .tools-ops { display: none;}
.tools:hover { padding: 0 30px 0 10px;}
.tools:hover .tools-ops { display: inline}
.tools:hover .tools-trigger { display: none; }

.tools span { color: #A5A5A5; }
.tools span:hover { color: #337AB7; }
.tools .editing-site { color:#079934; }

.tools-remove span { color: #A94747  !important; }

.sites-row { margin: 0; }
.site-col {
  text-align: center;
  padding: 0 4px;
  border-right: 1px solid #eee;
  overflow: hidden;
}

.site-col a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  text-align: center;
  color: #111;
}

.site-col a:hover {
  background-color: #f0f0f0;
  text-decoration: none;
}

.editSite {
  background: #c7c3c5;
  cursor: alias;
  margin-bottom: 2px;
  border: 1px dotted #606060;
}
.editSite:hover {
  background: #CCD2D0 !important;
}
.site-col input {
  border: 0;
  border-bottom: 1px dotted;
  outline: none;
  display: inline;
  margin-right: 6px;
  /*margin-bottom: 16px;*/
}
/*modals*/
.modal input {
  border: 0;
  border-bottom: 1px dotted;
  outline: none;
  margin-bottom: 16px;
}
.model input:focus {
  border-bottom: 1px solid;
}
.modal-body {
  width: 80%;
  margin: 0 auto;
}
.modal-footer { text-align: center; }

.modal input[type=text] { width: 400px; }

/*edit site*/
#deleteSite {
  position: absolute;
  top: 38%;
  right: -20px;
}

#deleteSiteBtn {
  width: 50px;
  height: 50px;
}

#groups-ops {}

#add-group {
  width:;
}

footer {
  text-align: center;
}
