/*
* @Author: wuxu92
* @Date:   2016-01-14 22:04:42
* @Last Modified by:   wuxu92
* @Last Modified time: 2016-01-23 17:41:31
*/
header {

}
h3#page-title {
  text-align: center;
}
article {
  min-width: 110px;
  width: 80%;
  margin: 0 auto;
}
.groups-section {
  border: 1px solid #eee;
  /*border-bottom: none;*/
  margin: 10px 0;
  padding: 16px 32px;
}

/*grp-head*/
.grp-head {
  color: #08556B;
}
.tools {
  float: right;
  padding: 0 4px;
}

.tools>a {
  padding: 1px 2px;
  cursor: pointer;
}
.tools span { color: #A5A5A5; }
.tools span:hover { color: #337AB7; }
.tools .editing-site { color:#079934; }

.sites-row { margin: 0; }
.site-col {
  text-align: center;
  padding: 0 4px;
  border-right: 1px solid #eee;
}

.site-col a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  text-align: center;
  color: #111;
}

.site-col a:hover {
  background-color: #f0f0f0;
  text-decoration: none;
}

.editSite {
  background: #9CCEAF;
  cursor: alias;
  margin-bottom: 2px;
  border-bottom: 1px solid #eee;
}
.editSite:hover {
  background: #accebf !important;
}
.site-col input {
  border: 0;
  border-bottom: 1px dotted;
  outline: none;
  display: inline;
  margin-right: 6px;
  /*margin-bottom: 16px;*/
}
/*modals*/
.modal input {
  border: 0;
  border-bottom: 1px dotted;
  outline: none;
  margin-bottom: 16px;
}
.model input:focus {
  border-bottom: 1px solid;
}
.modal-body {
  width: 80%;
  margin: 0 auto;
}
.modal-footer { text-align: center; }

.modal input[type=text] { width: 400px; }

/*edit site*/
#deleteSite {
  position: absolute;
  top: 38%;
  right: -20px;
}

#deleteSiteBtn {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
}
