<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <title>SNP Project!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="Content-type" content="text/html; chartset=utf8">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/snp.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js" type="text/javascript" charset="utf-8"></script>
  <!-- <script src="/js/vue.min.js" type="text/javascript" charset="utf-8"></script> -->
  <style>

  </style>
</head>
<body>
<header id="header" class="">
  <h3 id="page-title">Shared Navigation Page!</h3>
</header><!-- /header -->
<hr>
<article id="navi-container">
  <section v-for="(gIdx, group) in groups" class="groups-section">
    <div class="grp-head">
    <span class="grp-title"><strong>{{ group.title }}</strong></span>
      <span class="tools">
        <a v-bind:data-gidx="gIdx" class="tools-ops" title="编辑" v-on:click.prevent.stop="editGroupSites(gIdx, $event)">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a v-bind:data-gidx="gIdx" class="tools-ops" title="添加网址" v-on:click.prevent.stop="addSiteToGroup(gIdx, $event)">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a v-bind:data-gidx="gIdx" class="tools-ops" title="Copy Follow link">
          <span class="glyphicon glyphicon-copy"></span>
        </a>
        <a v-bind:data-gidx="gIdx" class="tools-ops tools-remove" title="Remove Group" v-on:click.prevent.stop="deleteGroup()">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a v-bind:data-gidx="gIdx" class="tools-trigger" title="操作">
          <span class="glyphicon glyphicon-option-horizontal"></span>
        </a>
      </span>
    </div>
    <div class="contianer">
    <div class="row sites-row">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 site-col" v-for="(sIdx, site) in group.sites">
        <a class="site" :href="site.url" target="_blank" v-bind:data-gidx="gIdx" v-bind:data-sidx="sIdx" v-on:click="editSiteModal(site.id, $event)">{{site.name}}</a>
        <!-- <div style="display:none; margin-top: 3px">
          <input type="text" class="editTitle" v-bind:value="site.name" placeholder="Title" style="width: 15%">
          <input type="text" class="editUrl" v-bind:value="site.url" placeholder="Url" style="width: 55%">
          <button class="btn btn-sm" v-on:click="updateSite(gIdx, sIdx, $event)" title="保存修改">修改</button>
          <span class="glyphicon glyphicon-remove remove-site" style="margin-left: 6px; cursor: pointer" aria-hidden="true" title="删除"></span>
        </div> -->
      </div>
    </div>
    </div>
  </section>

  <section id="groups-ops">
    <!-- <span class="glyphicon glyphicon-plus" id="add-group"></span> <br> -->
    <button class="btn btn-primary" v-on:click="addGroupModal">增加组</button>
    <button class="btn btn-success" v-on:click="reOrderGroups">移动组</button>
  </section>

  <div id="modals">
    <div class="modal fade" tabindex="-1" role="dialog" id="new-site-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">添加网址到<strong> {{newSiteToGroup}} </strong>组</h4>
          </div>
          <!-- <p>添加一个网址到组 </p> -->
          <div class="modal-body">
            <input type="text" v-model="newSite.name" placeholder="网站名" > <br>
            <input type="text" v-model="newSite.url">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" v-on:click="saveSite">添加</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="edit-site-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">编辑<strong></strong>网站</h4>
          </div>
          <!-- <p>添加一个网址到组 </p> -->
          <div class="modal-body">
            <input type="hidden" v-model="editSite.id" > <br>
            <input type="text" v-model="editSite.name" placeholder="网站名" > <br>
            <input type="text" v-model="editSite.url">
            <div id="deleteSite">
              <button class="btn btn-danger" id="deleteSiteBtn" v-on:click="deleteSite">删除</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" v-on:click="updateSite">提交</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="new-group-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">新建组</h4>
          </div>
          <div class="modal-body">
            <p>新建一个组</p>
            <input type="text" id="newGrpName" placeholder="组名"> <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" v-on:click="newGroup">添加</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</article>
<hr>
<footer>
  <address>
    For more details, contact
    <a href="mailto:wuxu92@outlook.com" title="Wu Xu">Wu Xu</a>.|
    Fork Project from <a href="http://github.com/wuxu92/snp" target="_blank">Github</a>
  </address>
  <p><span class="glyphicon glyphicon-copyright-mark"></span></p>
</footer>
</body>
<script src="/js/snp-v1.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
</script>
</html>
